# Database Configuration
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_USER="syrinx"
export DB_PASSWORD="syrinx"
export DB_NAME="syrinx"
export DB_SSLMODE="disable"

# Docker Compose Configuration
export POSTGRES_PASSWORD=$DB_PASSWORD

# Server Configuration
export SERVER_NAME=""  # Your server name (cannot contain spaces) keep it short
export PORT=8080  # The port the backend will listen on
export ALLOWED_ORIGIN="http://localhost:5173"  # The URL of your frontend
export SERVER_PRIVATE_KEY_FILE="./keys/private.pgp"  # The key to sign all requests
export SERVER_PUBLIC_KEY_FILE="./keys/public.pgp"  # The key to embed in the app
export SERVER_PRIVATE_KEY_PASSPHRASE=""  # The private key's passphrase
# Note: For development purposes it's ok to write your passphrase in a .env
# file, but never do that in production.
