.env
__pycache__
bin/
deploy/**/*.env
!deploy/**/*.env.example
deploy/scripts/syrinx/root-creds/
docs/.vitepress/cache
docs/.vitepress/dist
docs/node_modules
spa/.svelte-kit
spa/build
spa/certs
spa/node_modules
spa/playwright-report
spa/test-results
