.env
__pycache__
bin/
deploy/**/*.env
!deploy/**/*.env.example
deploy/scripts/syrinx/root-creds/
deploy/scripts/syrinx/client-certs/
docs/.vitepress/cache
docs/.vitepress/dist
docs/node_modules
src/frontend/.svelte-kit
src/frontend/build
src/frontend/certs
src/frontend/node_modules
src/frontend/playwright-report
src/frontend/test-results
tmp/
